* {
  margin: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  padding: 0 20px;
  background-color: #0a4d68;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
  height: 90px;
}

.logo img {
  margin-right: 10px;
  height: 90px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 40px;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.search-bar {
  flex-grow: 1;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 100%;
  padding: 10px;
  background-color: #0a4d68;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search-button i {
  width: 80px;
  height: 20px;
}

.nav-icons {
  display: flex;
  align-items: center;
}

.nav-icon {
  margin-right: 40px;
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1.5rem;
  margin-top: 3rem;
}

.product-card {
  text-align: center;
  border: 1px solid #000000;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.product-image {
  padding: 1rem 0;
}

.product-image img {
  height: 15rem;
  max-width: 100%;
}

.product-icons {
  display: flex;
  justify-content: right;
  gap: 0.5rem;
}

.product-icons a {
  width: 2.5rem;
  height: 2.5rem;
  color: #000000;
  margin: 0.1rem;
  border: 1.5px solid #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-icons a:hover {
  background-color: #ded6d6;
  border: 1.5px solid #000000;
}

.product-content h3 {
  font-size: 1.8rem;
  margin-bottom: 1px;
  margin-top: 10px;
}

.product-price {
  font-size: 1.3rem;
  font-weight: bold;
}
