.profile-picture {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.profile-picture img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile-name {
  font-size: 36px;
  margin-top: 20px;
  text-align: center;
}

.profile-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.profile-info {
  margin-top: 40px;
  text-align: center;
}

.profile-info h4 {
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.profile-contact {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.profile-buttons {
  margin-top: 30px;
  text-align: center;
}

.profile-buttons a {
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #2196f3;
  border-color: #2196f3;
}

.btn-danger {
  background-color: #f44336;
  border-color: #f44336;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #0c7cd5;
  border-color: #0c7cd5;
}

.profile {
  background-color: #0a4d68;
}
