.jumbotron {
  padding-top: 9rem;
  background-color: #deebed;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 6rem;
}

.navbarbbsp {
  background-color: #0a4d68;
}

.feature {
  background-color: #deebed;
}
.footer {
  background-color: #0a4d68;
}

.btn {
  background-color: #0a4d68;
  color: #ffffff;
}

.btn:hover {
  background-color: #0a4d68;
  color: #ffffff;
}

.card-text {
  text-align: justify;
  text-justify: inter-word;
}
.tampil-pasword {
  font: size 15px;
}

.btnlogin {
  background-color: #0a4d68;
  color: #ffffff;
}
.icontoggle {
  cursor: pointer;
}

.daftar {
  background-color: #0a4d68;
  color: rgb(255, 255, 255);
}

.simpan {
  background-color: #0a4d68;
  color: rgb(255, 255, 255);
}
/* CSS untuk menampilkan gambar di tengah */
img {
  display: block; /* agar gambar muncul sebagai elemen block */
  margin: auto; /* membuat gambar menjadi center */
}
.img-thumbnail {
  border-radius: 50%;
}
